.container__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.timer {
  font-size: 24px;
}

.answers {
  margin-bottom: 30px;
}

.f__grow {
  display: flex;
  flex-grow: 1;
}
.container__button__button {
  width: 100%;
  position: fixed;
  bottom: 0;
  /* padding: 0 8rem; */
  padding: 18px 16px;
  font-size: 24px;
  align-items: center;
  background-color: #f8fafc;
}

.container__button__button button {
  margin-bottom: 0;
}

.buttons_align {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

@media screen and (max-width: 500px) {
  .timer {
    font-size: 24px;
  }

  .container__button__button {
    padding: 12px 6px 12px 12px;
    font-size: 12px;
    box-shadow: 0px -1px 6px -3px #94a3b8b6;
    -webkit-box-shadow: 0px -1px 6px -3px #94a3b8b6;
    -moz-box-shadow: 0px -1px 6px -3px #94a3b8b6;
  }
  .buttons_align {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
  }
}
.answers {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 10px;
  gap: 20px;
  max-width: 1200px;

  justify-items: center;
}

.answer_list {
  overflow: hidden;
  cursor: pointer;
  font-size: 24px;
  white-space: normal;
  width: 100%;
  cursor: hand;
  border-radius: 6px;
  border: solid 1px #64748b;
  height: 120px;
  background-color: #f8fafc;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

.answer__container {
  font-size: 22px;
}

.rank__status {
  font-size: 16px;
  color: #34d399;
}
.question {
  margin-top: 20px;
  white-space: normal;
  font-size: 24px;
}

.container__button_r {
  display: flex;
  justify-content: flex-end;
}

.container__button_l {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 530px), (max-width: 529px) {
  .answer_list {
    height: auto;
  }
}
@media screen and (max-width: 529px) {
  .answers {
    grid-template-columns: auto;
  }
  .container__button_l {
    display: block;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .container__button_l button:nth-child(1) {
    margin-bottom: 8px;
  }
  .container__button_r button:nth-child(1) {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 500px) {
  .answers {
    margin-top: 24px;
    margin-bottom: 60px;
  }

  .answer_list {
    overflow: hidden;
    cursor: pointer;
    font-size: 16px;
    white-space: normal;
    width: 100%;
    cursor: hand;
    border-radius: 6px;
    border: solid 1px #64748b;
    height: 80px;
    max-height: 120px;
    background-color: #f8fafc;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
  }

  .answer__container {
    font-size: 16px;
  }

  .rank__status {
    font-size: 16px;
    color: #34d399;
  }
  .question {
    margin-top: 20px;
    white-space: normal;
    font-size: 18px;
    padding: 0 12px;
  }
}

.container__rank h1 {
  color: green;
}

@media screen and (max-width: 500px) {
  .container_rank {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
  }
  .container__rank h1 {
    font-size: 18px;
    align-items: flex-start;
  }
}

.s__area__question {
  width: 100%;

  padding: 80px 12px;
}

/* table */

.custom-table {
  font-size: 18px;
  border-collapse: collapse;
  border: 1px solid black;
}

.custom-header {
  background-color: #c084fc;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 235px;
}

.custom-cell {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 500) {
  .custom-table {
    font-size: 12px;
    padding: 5px;
  }
}
.custom-gap-color:nth-child(even) {
  background-color: #d8b4fe;
}

.custom-gap-color:nth-child(odd) {
  background-color: #e9d5ff;
}
/* image quiz */

.image__quiz {
  max-width: 240px;
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: contain;
}

.curLetter span {
  background-color: #cbd5e1;
  /* border-radius: 50%; */
  border-radius: 50%;

  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  height: 35px;
  width: 35px;
  color: #020617;
  line-height: 0;
}

@media screen and (max-width: 529px) {
  .curLetter span {
    font-size: 16px;
    height: 30px;
    width: 30px;
  }
}
